[submodule "thirdparty/tgbot-cpp"]
	path = thirdparty/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json
